mlflow
numpy
scikit-learn
cloudpickle
boto3
transformers
pandas
sklearn
tqdm
google-cloud-storage
torch==1.7.1+cpu
torchvision==0.8.2+cpu
torchaudio==0.7.2
torchserve
torchtext
torch-model-archiver
torchvision==0.8.2+cpu